.key-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.press {
  width: 12rem;
  height: 12rem;
  background: var(--box-background-rgba);
  letter-spacing: 0.25rem;
  text-shadow: 0 0 2.5rem var(--box-text-shadow);
  margin: 0 3rem 40rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.3rem solid var(--primary-color);
  border-radius: 1rem;
  transition: 0.5s ease;
}

.span {
  font-size: 2rem;
}

kbd {
  display: block;
  font-size: 5rem;
}

.transform {
  color: var(--secondary-color);
  border: 0.3rem solid var(--secondary-color);
  box-shadow: 0 0 1.5rem var(--secondary-color);
  transform: scale(1.1);
}