* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  --primary-color: #fc8f00;
  --secondary-color: #ff00d4;
  --box-background-rgba: rgba(22, 22, 22, 0.5);
  --box-text-shadow: #181818;
  /* background img src - https://www.wallpaperflare.com/star-wars-storm-trooper-illustration-lego-star-wars-stormtrooper-wallpaper-thhd */
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  text-align: center;
  line-height: 1.5;
}
